// FROM: https://github.com/csswizardry/frcss
$base-font-size: 1.6rem !default;
$base-font-family: $font-secondary !default;
$base-line-height: 1.4 !default;
$base-background-color: $color-off-white !default;
$base-color: $color-grey-darkest !default;

$transition-append: 0.3s ease-in-out;
$side-margin: 5%;